data-viewer table {
  border-collapse: collapse;
}

data-viewer th, data-viewer td {
  padding: .2em;
}

data-viewer th {
  background:lightgray;
  color: #222;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: .8rem;
}

data-viewer th, data-viewer caption, data-viewer th {
  font-weight: normal;
  font-family: var(--mono-font);
}

data-viewer table, data-viewer table {
  border: 1px solid lightgray;
}

data-viewer table th, data-viewer table td, data-viewer table th, data-viewer table td {
  padding: .3em
}

data-viewer table th, data-viewer table th {
  background: lightgray;
  text-align: left;
  font-family: var(--mono-font);
}

data-viewer table th, data-viewer table td {
  text-align: left;
}

data-viewer table td {
  border: 1px solid lightgray; 
}

data-viewer {
  margin: 2em;
  display: block;
}

data-viewer table td:nth-child(n+2) {
  /* border-left: 2px solid #cccccc55; */
}

data-viewer table tr, data-viewer table tr {
  /* border-bottom: 2px solid #cccccc55; */
}
