<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>form-editor component documentation</title>
  <link rel="stylesheet" href="documentation.css">
  <link rel="stylesheet" href="form-editor.css">
</head>
<body>
<header>
  <h1>&lt;form-editor> component documentation</h1>
  <p>Transforms a JSON-like syntax into a form.</p>
</header>

<h2>HTML</h2>
<section class=usage>
  <header>
    <h3>Usage</h3>
    <p class=info></p>
  </header>
  <pre>
    &lt;form-editor >&lt;/form-editor>
  </pre>
</section>
<section class=example>
  <header>
    <h3>Example</h3>
  </header>
    <form-editor ></form-editor>
</section>
<h2>Javascript</h2>
<section class=properties>
  <header>
    <h3>Properties</h3>
    <p>These may be set directly on an instance of the class.</p>
  </header>
</section>

<section class=attributes>
  <header>
    <h3>Attributes</h3>
  </header>
</section>

<section class=Events>
  <header>
    <h3>Events</h3>
  </header>
</section>

<script type=module>
import {FormEditor} from './FormEditor.js'
Object.assign(window, {})
</script>
</body>
</html>