* {
  box-sizing: border-box;
}

html {
  display: flex; 
  height: 100%;
  margin:0;
  padding:0;
}

body {
  flex: 1;
  display: flex;
  flex-direction:column;
  margin:0;
  padding:0;
}

header#banner h1 { 
  font-family: Andika;
  font-size: 2em;
  text-align:center;
}

main{
  flex:1;
  display: flex;
  margin:0;
  padding:0;
}

#sidebar { 
  flex-basis: 20%;
}

#sidebar nav {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

#sidebar .part {
  flex: 1;
  display:flex;
  padding: 2em;  
}

#sidebar .part h2  {
  padding:0;
  margin:0;
  flex:1;
}

#sidebar .part a {
  text-decoration: none;
  font-family: Andika;
  font-size: 25px;
  color:black;
}

#sidebar [lang="en"] {
  font-style:italic;
}

#sidebar [lang="mx"] {
  align-self: flex-end;
}

section#content { 
  flex: 1;
  border-right: 10px solid purple;
}
