<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>youtube-note component documentation</title>
  <link rel="stylesheet" href="documentation.css">
  <link rel="stylesheet" href="youtube-note.css">
</head>
<body>
<header>
  <h1>&lt;youtube-note> component documentation</h1>
  <p>Description</p>
</header>

<section class=demo>
  <header>
    <h3>Demo</h3>
  </header>
  <youtube-note></youtube-note>

</section>

<script type=module>
import {YoutubeNote} from './YoutubeNote.js'
Object.assign(window, {})
</script>
</body>
</html>