body {
  display: grid;
  max-width: calc(4*26ch);
  margin:0;
  font-family: Fira Sans;
}

body > * {
  padding: 1em;
}

body > header {
  background-color: hsl(120, 66.9%, 20%);
  background-image: url(../../images/docling-headshot.svg);
  background-position: right center;
  color:white;
  text-shadow: -1px 1px 1px black;
  background-size:50% 50%;
  background-repeat: no-repeat;
}

script.visible-script {
  white-space: pre-wrap;
  display:block;
  background:#333;
  color:limegreen;
  font-family: Fira Mono, monospace;
  padding:1em;
  border-radius:5px;
}


output {
  display: block;
  padding: 1em;
  border-radius: 5px;;
  background: #333;
  color:lime;
  font-family: monospace;
  white-space: pre-wrap;
}